In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [7]:
df = pd.concat([train, test], ignore_index=True, sort = False)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2915 non-null   object
 3   LotFrontage    2433 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          198 non-null    object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2917 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2918 non-null   object
 24  Exterior2nd    2918 non-null   object
 25  MasVnrType     2895 non-null   object
 26  MasVnrArea     2896 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2838 non-null   object
 31  BsmtCond       2837 non-null   object
 32  BsmtExposure   2837 non-null   object
 33  BsmtFinType1   2840 non-null   object
 34  BsmtFinSF1     2918 non-null   float64
 35  BsmtFinType2   2839 non-null   object
 36  BsmtFinSF2     2918 non-null   float64
 37  BsmtUnfSF      2918 non-null   float64
 38  TotalBsmtSF    2918 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2917 non-null   float64
 48  BsmtHalfBath   2917 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2918 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2917 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    1499 non-null   object
 58  GarageType     2762 non-null   object
 59  GarageYrBlt    2760 non-null   float64
 60  GarageFinish   2760 non-null   object
 61  GarageCars     2918 non-null   float64
 62  GarageArea     2918 non-null   float64
 63  GarageQual     2760 non-null   object
 64  GarageCond     2760 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         10 non-null     object
 73  Fence          571 non-null    object
 74  MiscFeature    105 non-null    object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2918 non-null   object
 79  SaleCondition  2919 non-null   object
 80  SalePrice      1460 non-null   float64
dtypes: float64(12), int64(26), object(43)
memory usage: 1.8+ MB

In [9]:
df.nunique()

Id               2919
MSSubClass         16
MSZoning            5
LotFrontage       128
LotArea          1951
                 ...
MoSold             12
YrSold              5
SaleType            9
SaleCondition       6
SalePrice         663
Length: 81, dtype: int64

In [46]:
df.isnull().sum().sort_values(ascending=False)[:20]

SalePrice       1459
Utilities          2
Functional         2
Exterior1st        1
GarageCars         1
GarageArea         1
KitchenQual        1
BsmtFinSF2         1
BsmtFinSF1         1
BsmtUnfSF          1
TotalBsmtSF        1
SaleType           1
Electrical         1
Exterior2nd        1
HalfBath           0
GarageYrBlt        0
BedroomAbvGr       0
KitchenAbvGr       0
FullBath           0
TotRmsAbvGrd       0
dtype: int64

In [11]:
df['PoolQC'].value_counts()

Ex    4
Gd    4
Fa    2
Name: PoolQC, dtype: int64

In [12]:
df['PoolQC'] = df['PoolQC'].fillna('no_pool')

In [13]:
df['Alley'].value_counts()

Grvl    120
Pave     78
Name: Alley, dtype: int64

In [14]:
df['Alley'] = df['Alley'].fillna('No_access')

In [15]:
df['MiscFeature'].value_counts()

Shed    95
Gar2     5
Othr     4
TenC     1
Name: MiscFeature, dtype: int64

In [16]:
df['MiscFeature'] = df['MiscFeature'].fillna('No_item')

In [17]:
df['Fence'].value_counts()

MnPrv    329
GdPrv    118
GdWo     112
MnWw      12
Name: Fence, dtype: int64

In [18]:
df['Fence'] = df['Fence'].fillna('No_fence')

In [19]:
df['FireplaceQu'].value_counts()

Gd    744
TA    592
Fa     74
Po     46
Ex     43
Name: FireplaceQu, dtype: int64

In [20]:
df['FireplaceQu'] = df['FireplaceQu'].fillna('No_Fireplace')

In [21]:
df['LotFrontage'].value_counts()

60.0     276
80.0     137
70.0     133
50.0     117
75.0     105
        ...
152.0      1
138.0      1
182.0      1
168.0      1
133.0      1
Name: LotFrontage, Length: 128, dtype: int64

In [22]:
df['LotFrontage'] = df['LotFrontage'].fillna(0)

In [23]:
df[df['GarageYrBlt'].isnull()==True][['GarageCond', 'GarageYrBlt', 'GarageFinish', 'GarageQual']]

     GarageCond  GarageYrBlt GarageFinish GarageQual
39          NaN          NaN          NaN        NaN
48          NaN          NaN          NaN        NaN
78          NaN          NaN          NaN        NaN
88          NaN          NaN          NaN        NaN
89          NaN          NaN          NaN        NaN
...         ...          ...          ...        ...
2893        NaN          NaN          NaN        NaN
2909        NaN          NaN          NaN        NaN
2913        NaN          NaN          NaN        NaN
2914        NaN          NaN          NaN        NaN
2917        NaN          NaN          NaN        NaN

[159 rows x 4 columns]

In [24]:
df[['GarageCond', 'GarageYrBlt', 'GarageFinish', 'GarageQual']]

     GarageCond  GarageYrBlt GarageFinish GarageQual
0            TA       2003.0          RFn         TA
1            TA       1976.0          RFn         TA
2            TA       2001.0          RFn         TA
3            TA       1998.0          Unf         TA
4            TA       2000.0          RFn         TA
...         ...          ...          ...        ...
2914        NaN          NaN          NaN        NaN
2915         TA       1970.0          Unf         TA
2916         TA       1960.0          Unf         TA
2917        NaN          NaN          NaN        NaN
2918         TA       1993.0          Fin         TA

[2919 rows x 4 columns]

In [25]:
df['GarageYrBlt'].value_counts()

2005.0    142
2006.0    115
2007.0    115
2004.0     99
2003.0     92
         ...
1908.0      1
1896.0      1
1933.0      1
1906.0      1
1919.0      1
Name: GarageYrBlt, Length: 103, dtype: int64

In [26]:
df['GarageType'].value_counts()

Attchd     1723
Detchd      779
BuiltIn     186
Basment      36
2Types       23
CarPort      15
Name: GarageType, dtype: int64

In [27]:
df['GarageYrBlt'] = df['GarageYrBlt'].fillna(0)

In [28]:
df[['GarageCond', 'GarageFinish', 'GarageQual', 'GarageType']] = \
df[['GarageCond', 'GarageFinish', 'GarageQual', 'GarageType']].fillna('No_garage')

In [29]:
df['GarageCond'].value_counts()

TA           2654
No_garage     159
Fa             74
Gd             15
Po             14
Ex              3
Name: GarageCond, dtype: int64

In [30]:
df['BsmtFinType1'].value_counts()

Unf    851
GLQ    849
ALQ    429
Rec    288
BLQ    269
LwQ    154
Name: BsmtFinType1, dtype: int64

In [31]:
df[['BsmtExposure', 'BsmtCond', 'BsmtQual', 'BsmtFinType2', 'BsmtFinType1']] = \
df[['BsmtExposure', 'BsmtCond', 'BsmtQual', 'BsmtFinType2', 'BsmtFinType1']].fillna('No_basement')

In [33]:
df['MasVnrType'].value_counts()

None       1742
BrkFace     879
Stone       249
BrkCmn       25
Name: MasVnrType, dtype: int64

In [34]:
df['MasVnrArea'].value_counts()

0.0      1738
120.0      15
176.0      13
200.0      13
216.0      12
         ...
137.0       1
274.0       1
415.0       1
760.0       1
382.0       1
Name: MasVnrArea, Length: 444, dtype: int64

In [35]:
set(df[df['MasVnrType'].isnull()==True].index)-set(df[df['MasVnrArea'].isnull()==True].index)

{2610}

In [36]:
df[df['MasVnrType'].isnull()==True]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
234,235,60,RL,0.0,7851,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,5,2010,WD,Normal,216500.0
529,530,20,RL,0.0,32668,Pave,No_access,IR1,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,3,2007,WD,Alloca,200624.0
650,651,60,FV,65.0,8125,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,5,2008,WD,Normal,205950.0
936,937,20,RL,67.0,10083,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,8,2009,WD,Normal,184900.0
973,974,20,FV,95.0,11639,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,12,2008,New,Partial,182000.0
977,978,120,FV,35.0,4274,Pave,Pave,IR1,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,11,2007,New,Partial,199900.0
1243,1244,20,RL,107.0,13891,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,9,2006,New,Partial,465000.0
1278,1279,60,RL,75.0,9473,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,3,2008,WD,Normal,237000.0
1691,1692,60,RL,0.0,12891,Pave,No_access,IR1,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,7,2009,WD,Normal,NaN
1706,1707,20,FV,90.0,7993,Pave,No_access,IR1,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,10,2009,New,Partial,NaN
1882,1883,60,RL,70.0,8749,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,11,2009,WD,Normal,NaN
1992,1993,60,RL,0.0,7750,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,4,2008,WD,Normal,NaN
2004,2005,20,RL,87.0,10037,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,8,2008,WD,Normal,NaN
2041,2042,60,FV,0.0,7500,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,4,2008,WD,Normal,NaN
2311,2312,60,RL,59.0,15810,Pave,No_access,IR1,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,5,2007,New,Partial,NaN
2325,2326,80,RL,0.0,11950,Pave,No_access,IR1,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,10,2007,WD,Normal,NaN
2340,2341,20,RL,85.0,9965,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,9,2007,New,Partial,NaN
2349,2350,60,FV,112.0,12217,Pave,No_access,IR1,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,12,2007,New,Partial,NaN
2368,2369,120,FV,30.0,5330,Pave,Pave,IR2,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,7,2007,New,Partial,NaN
2592,2593,20,RL,68.0,8298,Pave,No_access,IR1,HLS,AllPub,...,0,no_pool,No_fence,No_item,0,9,2007,New,Partial,NaN
2610,2611,20,RL,124.0,27697,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,11,2007,COD,Abnorml,NaN
2657,2658,60,RL,103.0,12867,Pave,No_access,IR1,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,7,2006,New,Partial,NaN
2686,2687,20,RL,49.0,15218,Pave,No_access,IR1,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,9,2006,New,Partial,NaN
2862,2863,20,RL,75.0,8050,Pave,No_access,Reg,Lvl,AllPub,...,0,no_pool,No_fence,No_item,0,4,2006,WD,Normal,NaN

In [37]:
df['MasVnrType'] = df['MasVnrType'].fillna('None')

In [38]:
df['MasVnrArea'] = df['MasVnrArea'].fillna(0)

In [39]:
df['MSZoning'].value_counts()

RL         2265
RM          460
FV          139
RH           26
C (all)      25
Name: MSZoning, dtype: int64

In [40]:
df['MSZoning'] = df['MSZoning'].fillna('None')

In [41]:
df['BsmtFullBath'].value_counts()

0.0    1705
1.0    1172
2.0      38
3.0       2
Name: BsmtFullBath, dtype: int64

In [42]:
df['BsmtFullBath'] = df['BsmtFullBath'].fillna(0)

In [43]:
df['BsmtHalfBath'].value_counts()

0.0    2742
1.0     171
2.0       4
Name: BsmtHalfBath, dtype: int64

In [44]:
df['BsmtHalfBath'] = df['BsmtHalfBath'].fillna(0)

In [49]:
df['Utilities'].value_counts()

AllPub    2918
NoSeWa       1
Name: Utilities, dtype: int64

In [48]:
df['Utilities'] = df['Utilities'].fillna(df['Utilities'].mode()[0])

In [53]:
df['Functional'].value_counts()

Typ     2719
Min2      70
Min1      65
Mod       35
Maj1      19
Maj2       9
Sev        2
Name: Functional, dtype: int64

In [52]:
df['Functional'] = df['Functional'].fillna(df['Functional'].mode()[0])

In [57]:
df['BsmtUnfSF'].value_counts()

0.0       242
384.0      19
728.0      14
672.0      13
600.0      12
         ...
257.0       1
1217.0      1
539.0       1
39.0        1
1503.0      1
Name: BsmtUnfSF, Length: 1135, dtype: int64

In [56]:
df['BsmtUnfSF'] = df['BsmtUnfSF'].fillna(0)

In [59]:
df['BsmtFinSF2'].value_counts()

0.0       2571
180.0        5
294.0        5
435.0        3
483.0        3
          ...
600.0        1
211.0        1
1031.0       1
438.0        1
297.0        1
Name: BsmtFinSF2, Length: 272, dtype: int64

In [60]:
df['BsmtFinSF2'] = df['BsmtFinSF2'].fillna(0)

In [64]:
df['BsmtFinSF1'].value_counts()

0.0       930
24.0       27
16.0       14
300.0       9
288.0       8
         ...
383.0       1
1085.0      1
900.0       1
1022.0      1
337.0       1
Name: BsmtFinSF1, Length: 991, dtype: int64

In [63]:
df['BsmtFinSF1'] = df['BsmtFinSF1'].fillna(0)

In [69]:
df['Exterior1st'].value_counts()

VinylSd    1026
MetalSd     450
HdBoard     442
Wd Sdng     411
Plywood     221
CemntBd     126
BrkFace      87
WdShing      56
AsbShng      44
Stucco       43
BrkComm       6
AsphShn       2
Stone         2
CBlock        2
ImStucc       1
Name: Exterior1st, dtype: int64

In [68]:
df['Exterior1st'] = df['Exterior1st'].fillna(df['Exterior1st'].mode()[0])

In [71]:
df['GarageArea'].value_counts()

0.0       157
576.0      97
440.0      96
240.0      69
484.0      68
         ...
872.0       1
923.0       1
192.0       1
1025.0      1
272.0       1
Name: GarageArea, Length: 603, dtype: int64

In [72]:
df['GarageArea'] = df['GarageArea'].fillna(0)

In [76]:
df['Electrical'].value_counts()

SBrkr    2672
FuseA     188
FuseF      50
FuseP       8
Mix         1
Name: Electrical, dtype: int64

In [75]:
df['Electrical'] = df['Electrical'].fillna(df['Electrical'].mode()[0])

In [80]:
df['Exterior2nd'].value_counts()

VinylSd    1015
MetalSd     447
HdBoard     406
Wd Sdng     391
Plywood     270
CmentBd     126
Wd Shng      81
BrkFace      47
Stucco       47
AsbShng      38
Brk Cmn      22
ImStucc      15
Stone         6
AsphShn       4
CBlock        3
Other         1
Name: Exterior2nd, dtype: int64

In [79]:
df['Exterior2nd'] = df['Exterior2nd'].fillna(df['Exterior2nd'].mode()[0])

In [82]:
df['KitchenQual'].value_counts()

TA    1492
Gd    1151
Ex     205
Fa      70
Name: KitchenQual, dtype: int64

In [83]:
df['KitchenQual'] = df['KitchenQual'].fillna(df['KitchenQual'].mode()[0])

In [87]:
df['SaleType'].value_counts()

WD       2526
New       239
COD        87
ConLD      26
CWD        12
ConLI       9
ConLw       8
Oth         7
Con         5
Name: SaleType, dtype: int64

In [86]:
df['SaleType'] = df['SaleType'].fillna(df['SaleType'].mode()[0])

In [91]:
df['TotalBsmtSF'].value_counts()

0.0       79
864.0     74
672.0     29
912.0     26
1040.0    25
          ..
1571.0     1
2633.0     1
757.0      1
873.0      1
1381.0     1
Name: TotalBsmtSF, Length: 1058, dtype: int64

In [90]:
df['TotalBsmtSF'] = df['TotalBsmtSF'].fillna(0)

In [95]:
df['GarageCars'].value_counts()

2.0    1595
1.0     776
3.0     374
0.0     157
4.0      16
5.0       1
Name: GarageCars, dtype: int64

In [94]:
df['GarageCars'] = df['GarageCars'].fillna(df['GarageCars'].mode()[0])

In [96]:
df.isnull().sum().sort_values(ascending=False)[:20]

SalePrice       1459
CentralAir         0
GarageYrBlt        0
GarageType         0
FireplaceQu        0
Fireplaces         0
Functional         0
TotRmsAbvGrd       0
KitchenQual        0
KitchenAbvGr       0
BedroomAbvGr       0
HalfBath           0
FullBath           0
BsmtHalfBath       0
BsmtFullBath       0
GrLivArea          0
LowQualFinSF       0
2ndFlrSF           0
1stFlrSF           0
GarageFinish       0
dtype: int64